@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.divtypedbyuser:focus {
  outline:none;
}

.letter {
  letter-spacing: 0.2em;
  display:inline;
  font-family: 'Special Elite', cursive;
  color:blue;
}
.letter.correct {
  color:greenyellow
}
.letter.wrong {
  color:red;
  background-color:rgba(255,0,0,0.2);
}



.randomstring {
  opacity: 50%;
  color:black;
}
.title {
  font-family: 'Special Elite', cursive;
  display: flex;
  justify-content: center;
}
.letter.cursor::before {
  content: "|";
  display: inline-block;
  border-right: 2px solid black;
  width: 0px;
  height: 1em;
  color:transparent;
  animation: blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}
